<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   


<section class="about-us">
  <div class="about">
    <img src="img/me123.jpg" class="pic" />
    <div class="text">
      <h4>About Me</h4>
      <h5>Hii, Myself Gurpreet Kaur</h5>
      <p> Iam a Graduate in Computer Science and Engineering from India.Currently, I am studying post graduation diploma in Software Engineering Technology- Artificial Intelligence at Centennial College (Progress Campus), Canada. I have one year experience as Customer Representative.</p>
      <div class="data">
        <a href="https://drive.google.com/file/d/1Vg2UIz3nG52O0XCyaPTb19z-7A7VdcGj/view?usp=sharing" class="hire">Resume</a>
      </div>
    </div>
  </div>
</section>
    
   
   
   
   