<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<section class="articles mt-5">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="img/project123.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h4>AIRLINES</h4>
        <p>
          The purpose of the present Airline Reservation system is to allow customer to interact that gives some basic information such as all  flights information, availability of accommodation in flights, ticket booking, class type like luxury/ super luxury/ special/ AC/ non AC. 
        </p>
        
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="img/project234.png" alt="" />
      </figure>
      <div class="article-body">
        <h3>School Billing System</h3>
        <p>
          It’s suitable for :
School / College
Students batch
Coaching Center / Academy
Education Center etc.
MAIN FEATURES :
Add Student / Admission Student
Manage Student
Create Branch
Manage Branch
Take Fees
Manage Fees
Fees Details
Reports

        </p>
        
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="img/project567.png" alt="" />
      </figure>
      <div class="article-body">
        <h3>SHINE</h3>
        <p>
           It is a Shopping Cart System that is the Simple shopping Solution. It’s a full-featured website and shopping cart system that bends over backwards to give you the flexibility you need to run your online store.

The basic concept of the application is to allow the customer to shop virtually using the Internet and allow customers to buy the items and articles of their desire from the store. 
        </p>
        
      </div>
    </div>
  </article>
</section>
   